@model _01_TemplatedHelperMethods.Models.Product
@{
    ViewBag.Title = "Index";
}
<h2>HTML Helper 1</h2>

@Html.LabelFor(x => x.Id)
@Html.EditorFor(x => x.Id)

<br />

@Html.LabelFor(x => x.Name)
@Html.EditorFor(x => x.Name)
<br />

@Html.LabelFor(x => x.IsTangible)
@Html.EditorFor(x => x.IsTangible)
<br />

<h2>HTML Helper 2</h2>

@Html.LabelFor(x => x.Id)
@Html.DisplayFor(x => x.Id)

<br />

@Html.LabelFor(x => x.Name)
@Html.DisplayFor(x => x.Name)
<br />

@Html.LabelFor(x => x.IsTangible)
@Html.DisplayFor(x => x.IsTangible)
<br />